parameters:
  level: 5
  reportUnmatchedIgnoredErrors: false
  paths:
    - src/
  excludePaths:
    - tests/
  ignoreErrors:
    - '#Trying to mock an undefined method .* on class .*ContextRepositoryInterface#'
